<h1>New gender</h1>

<%= form_for Gender.new do |f| %>


    <p>
      <%= f.label :name_gender %><br>
      <%= f.text_field :name_gender %>
    </p>


    <p>
      <%= f.submit %>
    </p>
<% end %>

<br/>
<%= link_to 'Back', genders_path %>

